Nodered.json
[{"id":"b8395192.2d36b","type":"tab","label":"180330K","disabled":false,"info":""},{"id":"c4160ac2.65b278","type":"ui_text_input","z":"b8395192.2d36b","name":"city","label":"City","tooltip":"Enter the city name","group":"2ab8403d.ef38b","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":90,"y":80,"wires":[["475f12ca.837a9c"]]},{"id":"e7ac6537.1e5418","type":"ui_text_input","z":"b8395192.2d36b","name":"country","label":"Country","tooltip":"Enter the country name","group":"2ab8403d.ef38b","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":100,"y":120,"wires":[["db174cf7.edbf7"]]},{"id":"475f12ca.837a9c","type":"function","z":"b8395192.2d36b","name":"setting city name","func":"global.set(\"city\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":80,"wires":[[]]},{"id":"db174cf7.edbf7","type":"function","z":"b8395192.2d36b","name":"setting country name","func":"global.set(\"country\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[[]]},{"id":"12b539.b5376ac7","type":"ui_button","z":"b8395192.2d36b","name":"enter city_country","group":"2ab8403d.ef38b","order":4,"width":"6","height":"1","passthru":true,"label":"Enter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":90,"y":420,"wires":[["22a8dff4.37ee9"]]},{"id":"22a8dff4.37ee9","type":"function","z":"b8395192.2d36b","name":"entering inputs","func":"if(msg.payload){\n    return{\n        location : {\n            city : global.get(\"city\"),\n            country : global.get(\"country\")\n        },\n        delay : 1000*parseInt(global.get(\"delay_time\"))\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":420,"wires":[["88fee955.0026a8"]]},{"id":"88fee955.0026a8","type":"openweathermap","z":"b8395192.2d36b","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":670,"y":420,"wires":[["89c78c47.9a184"]]},{"id":"89c78c47.9a184","type":"function","z":"b8395192.2d36b","name":"weather details fetch","func":"global.set(\"city_name\",msg.payload.location);\nglobal.set(\"temperature\",msg.payload.tempc);\nglobal.set(\"humidity\",msg.payload.humidity);\nglobal.set(\"pressure\",msg.payload.pressure);\nglobal.set(\"wind_speed\",msg.payload.windspeed);\nglobal.set(\"wind_direction\",msg.payload.winddirection);\nglobal.set(\"sunrise\",msg.payload.sunrise);\nglobal.set(\"sunset\",msg.payload.sunset);\nglobal.set(\"description\",msg.payload.description);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":480,"wires":[["17efa0e3018661f4"]]},{"id":"391293a6.990b8c","type":"function","z":"b8395192.2d36b","name":"getting pressure","func":"let p = global.get(\"pressure\");\nlet pressure = p * 0.000987;\nreturn{\n    payload : pressure.toFixed(2)\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1880,"y":140,"wires":[["db83130c.2c47f"]]},{"id":"db83130c.2c47f","type":"ui_gauge","z":"b8395192.2d36b","name":"pressure","group":"bc472b89.d91388","order":3,"width":0,"height":0,"gtype":"wave","title":"","label":"atm","format":"{{msg.payload}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2060,"y":140,"wires":[]},{"id":"d4a7f9bc.bc9a88","type":"ui_text","z":"b8395192.2d36b","group":"fbd58ca9.03bf1","order":1,"width":0,"height":0,"name":"description","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":2070,"y":200,"wires":[]},{"id":"c757c27d.28a06","type":"ui_numeric","z":"b8395192.2d36b","name":"trigger time","label":"Update Interval (seconds)","tooltip":"","group":"ff68c011.1d32a","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":1,"x":70,"y":340,"wires":[["bddd0665.7d7d28"]]},{"id":"f4f23e41.cb1e","type":"function","z":"b8395192.2d36b","name":"description","func":"return{\n    payload : global.get(\"description\"),\n    topic : global.get(\"city_name\")\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1870,"y":200,"wires":[["d4a7f9bc.bc9a88"]]},{"id":"bb7f96f4.d49ed8","type":"function","z":"b8395192.2d36b","name":"sunrise","func":"let dateObject = new Date(global.get(\"sunrise\") * 1000);\nlet humanDateFormat = dateObject.toLocaleString();\nlet date = humanDateFormat.split(\",\");\nreturn{\n    payload : date[1]\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":260,"wires":[["b172eda0.f392"]]},{"id":"b172eda0.f392","type":"ui_text","z":"b8395192.2d36b","group":"fbd58ca9.03bf1","order":2,"width":0,"height":0,"name":"","label":"Sunrise","format":"{{msg.payload}}","layout":"row-spread","x":2040,"y":260,"wires":[]},{"id":"a8f050cb.bea09","type":"function","z":"b8395192.2d36b","name":"sunrise","func":"let dateObject = new Date(global.get(\"sunset\") * 1000);\nlet humanDateFormat = dateObject.toLocaleString();\nlet date = humanDateFormat.split(\",\");\nreturn{\n    payload : date[1]\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":320,"wires":[["fe0d9308.da6a4"]]},{"id":"fe0d9308.da6a4","type":"ui_text","z":"b8395192.2d36b","group":"fbd58ca9.03bf1","order":3,"width":0,"height":0,"name":"","label":"Sunset","format":"{{msg.payload}}","layout":"row-spread","x":2030,"y":320,"wires":[]},{"id":"dc0dee73.714d3","type":"function","z":"b8395192.2d36b","name":"getting humidity","func":"\nreturn{\n    payload : global.get(\"humidity\"),\n    topic: \"Humidity %\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1860,"y":540,"wires":[["338dc5ce.a2f26a","3188f699.38692a"]]},{"id":"338dc5ce.a2f26a","type":"ui_gauge","z":"b8395192.2d36b","name":"humidity","group":"8bb7d848.f0f2d8","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2120,"y":460,"wires":[]},{"id":"ccb05a3e.f5e6e8","type":"function","z":"b8395192.2d36b","name":"getting temperature","func":"let temp = global.get(\"temperature\");\nreturn{\n    payload : temp.toFixed(1),\n    topic : \"temperature 째C\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":600,"wires":[["da01f399.81041","aa2b35c1.6efa28"]]},{"id":"da01f399.81041","type":"ui_gauge","z":"b8395192.2d36b","name":"temperature","group":"2a8e63f1.01c50c","order":3,"width":0,"height":0,"gtype":"wave","title":"","label":"c","format":"{{msg.payload}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2130,"y":580,"wires":[]},{"id":"51c417b9.a32168","type":"function","z":"b8395192.2d36b","name":"getting windspeed","func":"let v = parseFloat(global.get(\"wind_speed\"));\nlet speed = v * 3.6;\nreturn{\n    payload : speed.toFixed(2),\n    topic : \"speed km/Hr\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1850,"y":700,"wires":[["6865953d.1783fc","6d3cdfc6.28bc2"]]},{"id":"6865953d.1783fc","type":"ui_gauge","z":"b8395192.2d36b","name":"wind_speed","group":"8e704b94.3d4608","order":0,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"kmh","format":"{{msg.payload}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2110,"y":700,"wires":[]},{"id":"ed5c70bb.d5e8","type":"function","z":"b8395192.2d36b","name":"get wind direction","func":"return{\n    payload : global.get(\"wind_direction\")\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1850,"y":760,"wires":[["370d4bb8.122924"]]},{"id":"370d4bb8.122924","type":"ui_gauge","z":"b8395192.2d36b","name":"wind_direction","group":"8e704b94.3d4608","order":0,"width":0,"height":0,"gtype":"compass","title":"Direction","label":"deg","format":"{{msg.payload}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2120,"y":760,"wires":[]},{"id":"a17ee8bb.ecaca8","type":"ui_button","z":"b8395192.2d36b","name":"audio","group":"fbd58ca9.03bf1","order":4,"width":0,"height":0,"passthru":false,"label":"AUDIO","tooltip":"","color":"","bgcolor":"green","icon":"settings_voice","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":290,"y":760,"wires":[["6faf4cc5.2d3f54"]]},{"id":"6faf4cc5.2d3f54","type":"function","z":"b8395192.2d36b","name":"","func":"if(msg.payload){\n    return{\n        payload : global.get(\"description\")\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":760,"wires":[["36d0b827.378958"]]},{"id":"36d0b827.378958","type":"ui_audio","z":"b8395192.2d36b","name":"audio_out","group":"fbd58ca9.03bf1","voice":"Google UK English Female","always":"","x":620,"y":760,"wires":[]},{"id":"bddd0665.7d7d28","type":"change","z":"b8395192.2d36b","name":"","rules":[{"t":"set","p":"delay_time","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":340,"wires":[["22a8dff4.37ee9","3e2313d6.da128c"]]},{"id":"62c19713.603048","type":"ui_button","z":"b8395192.2d36b","name":"","group":"ff68c011.1d32a","order":3,"width":"2","height":"1","passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"stop refresh","payloadType":"str","topic":"topic","topicType":"msg","x":890,"y":280,"wires":[["17efa0e3018661f4"]]},{"id":"9ae8401b.9117f","type":"ui_dropdown","z":"b8395192.2d36b","name":"","label":"","tooltip":"","place":"Select option","group":"e9ed2f67.74969","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Temperature 째C","value":"temp","type":"str"},{"label":"Pressure Atm","value":"pressure","type":"str"},{"label":"Wind Speed km/h","value":"windSpeed","type":"str"},{"label":"Humidity %","value":"humidity","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":140,"y":940,"wires":[["d9903187.b7af5"]]},{"id":"d9903187.b7af5","type":"function","z":"b8395192.2d36b","name":"","func":"if(msg.payload ==\"temp\"){\n    global.set(\"parameter\",\"temp\")\n    return {ui_control:{\"min\":0,\"max\":50}}\n}\nelse if(msg.payload ==\"pressure\"){\n    global.set(\"parameter\",\"pressure\")\n    return {ui_control:{\"min\":0.3,\"max\":4}}\n}\nelse if(msg.payload ==\"windSpeed\"){\n    global.set(\"parameter\",\"windSpeed\")\n    return {ui_control:{\"min\":5,\"max\":100}}\n}\nelse if(msg.payload ==\"humidity\"){\n    global.set(\"parameter\",\"humidity\")\n    return {ui_control:{\"min\":0,\"max\":100}}\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":940,"wires":[["90a609c8.b3e648"]]},{"id":"90a609c8.b3e648","type":"ui_slider","z":"b8395192.2d36b","name":"","label":"Limits","tooltip":"","group":"e9ed2f67.74969","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"40","step":"0.1","x":550,"y":940,"wires":[["e1bee89a.f2b178","bdd510b44d1b727e"]]},{"id":"e1bee89a.f2b178","type":"function","z":"b8395192.2d36b","name":"","func":"if((global.get(\"parameter\")==\"temp\") && (global.get(\"temperature\")>msg.payload)){\n    return {payload:\"Warning! temperature is \"+global.get(\"temperature\")+\" 째C\"+ \" exceeds the limit by \" + (global.get(\"temperature\")-msg.payload).toFixed(1)+\" 째C\",\n        warn: true,\n        delay : (((global.get(\"temperature\")-msg.payload)*4500 / (msg.payload - 50)) + 5000),\n        \n    }\n}\nelse if((global.get(\"parameter\")==\"pressure\") && (global.get(\"pressure\")* 0.000987>msg.payload)){\n   return {payload:\"Warning! pressure is \"+global.get(\"pressure\")* 0.000987+\" atm\"+ \" exceeds the limit by \" + (global.get(\"pressure\")-msg.payload)* 0.000987+\" atm\",\n       warn: true,\n       delay : (((global.get(\"pressure\")-msg.payload)*4500 / (msg.payload - 4)) + 5000)\n   }\n}\nelse if((global.get(\"parameter\")==\"windSpeed\") && (global.get(\"wind_speed\")>msg.payload)){\n    return {payload:\"Warning! wind speed is \"+global.get(\"wind_speed\")+\" km/h\"+ \" exceeds the limit by \" + (global.get(\"wind_speed\")-msg.payload.toFixed(1))+\" km/h\",\n        warn: true,\n        delay : (((global.get(\"windSpeed\")-msg.payload)*4500 / (msg.payload - 100)) + 5000)\n        \n    }\n}\nelse if((global.get(\"parameter\")==\"humidity\") && (global.get(\"humidity\")>msg.payload)){\n    return {payload:\"Warning! humidity is \"+global.get(\"humidity\")+ \" exceeds the limit by \" + (global.get(\"humidity\")-msg.payload.toFixed(1))+\" %\",\n        warn: true,\n        delay : (((global.get(\"humidity\")-msg.payload)*4500 / (msg.payload - 100)) + 5000)\n        \n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":940,"wires":[["36f19498.a4480c","9e75ed90.1c863","f9fc48fb.aa9578"]]},{"id":"36f19498.a4480c","type":"ui_toast","z":"b8395192.2d36b","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1010,"y":940,"wires":[]},{"id":"30ee122b.f491fe","type":"mqtt out","z":"b8395192.2d36b","name":"","topic":"Nodered","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"71492be7.e7af74","x":1280,"y":1020,"wires":[]},{"id":"9e75ed90.1c863","type":"debug","z":"b8395192.2d36b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"warn","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1100,"wires":[]},{"id":"aa2b35c1.6efa28","type":"ui_chart","z":"b8395192.2d36b","name":"","group":"2faa6f2a.b56ca","order":3,"width":"20","height":"8","label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#fd7f12","#11e811","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2130,"y":540,"wires":[[]]},{"id":"3188f699.38692a","type":"ui_chart","z":"b8395192.2d36b","name":"","group":"2faa6f2a.b56ca","order":3,"width":"20","height":"8","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2183ca","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2120,"y":420,"wires":[[]]},{"id":"6d3cdfc6.28bc2","type":"ui_chart","z":"b8395192.2d36b","name":"","group":"2faa6f2a.b56ca","order":3,"width":"20","height":"8","label":"Wind Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#18cd18","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2110,"y":660,"wires":[[]]},{"id":"f9fc48fb.aa9578","type":"function","z":"b8395192.2d36b","name":"","func":"if (msg.warn){\n    return{\n        payload : msg.delay\n    }\n}else{\n    return{\n        payload : msg.delay\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":1020,"wires":[["30ee122b.f491fe","c1b4f75b.380c78"]]},{"id":"c1b4f75b.380c78","type":"debug","z":"b8395192.2d36b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":1140,"wires":[]},{"id":"fc4d421a.9592","type":"ui_switch","z":"b8395192.2d36b","name":"","label":"switch","tooltip":"","group":"805fbf66.b834b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":110,"y":1080,"wires":[["fe251319.97128"]]},{"id":"fe251319.97128","type":"function","z":"b8395192.2d36b","name":"","func":"if(msg.payload){\n    return {payload:{tabs:{show:[\"Charts\"]}}}\n}else{\n    return {payload:{tabs:{hide:[\"Charts\"]}}}\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":1080,"wires":[["42ffbfb7.2f685"]]},{"id":"42ffbfb7.2f685","type":"ui_ui_control","z":"b8395192.2d36b","name":"","events":"change","x":480,"y":1080,"wires":[[]]},{"id":"1b9a65b1.0f51ea","type":"ui_dropdown","z":"b8395192.2d36b","name":"","label":"Select option","tooltip":"","place":"Select option","group":"ff68c011.1d32a","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"City/country","value":true,"type":"bool"},{"label":"Coordinates","value":false,"type":"bool"}],"payload":"","topic":"topic","topicType":"msg","x":150,"y":1000,"wires":[["5ebe22e2.302bac"]]},{"id":"3e2313d6.da128c","type":"function","z":"b8395192.2d36b","name":"entering inputs","func":"if(msg.payload){\n    return{\n        location : {\n            lat : global.get(\"latitude\"),\n            lon : global.get(\"longitude\")\n        },\n        delay : 1000*parseInt(global.get(\"delay_time\"))\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":540,"wires":[["eeb2266b.4ad0e8"]]},{"id":"28d86eb7.3cd412","type":"ui_text_input","z":"b8395192.2d36b","name":"Latitude","label":"Latitude","tooltip":"Enter the city name","group":"5b24e49f.4a41ec","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":540,"y":80,"wires":[["b4108142.2987c"]]},{"id":"3c2629a7.5ae896","type":"ui_text_input","z":"b8395192.2d36b","name":"longtitude","label":"Longitute","tooltip":"Enter the country name","group":"5b24e49f.4a41ec","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":540,"y":120,"wires":[["729283f5.d64bbc"]]},{"id":"b4108142.2987c","type":"function","z":"b8395192.2d36b","name":"setting city name","func":"global.set(\"latitude\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":80,"wires":[[]]},{"id":"729283f5.d64bbc","type":"function","z":"b8395192.2d36b","name":"setting country name","func":"global.set(\"longitude\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":120,"wires":[[]]},{"id":"e2eb19b2.21ffc8","type":"ui_button","z":"b8395192.2d36b","name":"enter coords","group":"5b24e49f.4a41ec","order":0,"width":0,"height":0,"passthru":false,"label":"Enter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":70,"y":540,"wires":[["3e2313d6.da128c"]]},{"id":"5ebe22e2.302bac","type":"function","z":"b8395192.2d36b","name":"","func":"if(msg.payload == true){\n    return{\n        payload : {\"group\": {\"hide\": [\"Weather_Input_Coordinates\"], \"show\": [\"Weather_Input_City/Country\"], \"focus\": true}}\n    }\n}else{\n    return{\n        payload : {\"group\": {\"hide\": [\"Weather_Input_City/Country\"], \"show\": [\"Weather_Input_Coordinates\"], \"focus\": true}}\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1000,"wires":[["b72e1d39.33764"]]},{"id":"b72e1d39.33764","type":"ui_ui_control","z":"b8395192.2d36b","name":"","events":"all","x":560,"y":1000,"wires":[[]]},{"id":"eeb2266b.4ad0e8","type":"openweathermap","z":"b8395192.2d36b","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":630,"y":540,"wires":[["89c78c47.9a184"]]},{"id":"bdd510b44d1b727e","type":"debug","z":"b8395192.2d36b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":1080,"wires":[]},{"id":"bf420635fbf2b7e2","type":"mqtt in","z":"b8395192.2d36b","name":"","topic":"Nodered","qos":"2","datatype":"auto","broker":"71492be7.e7af74","nl":false,"rap":true,"rh":0,"inputs":0,"x":520,"y":1320,"wires":[["c3e35f947f9db64c"]]},{"id":"c3e35f947f9db64c","type":"debug","z":"b8395192.2d36b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":1320,"wires":[]},{"id":"17efa0e3018661f4","type":"trigger","z":"b8395192.2d36b","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-30","extend":false,"overrideDelay":true,"units":"s","reset":"stop refresh","bytopic":"all","topic":"topic","outputs":1,"x":1310,"y":480,"wires":[["391293a6.990b8c","f4f23e41.cb1e","bb7f96f4.d49ed8","a8f050cb.bea09","dc0dee73.714d3","ccb05a3e.f5e6e8","51c417b9.a32168","ed5c70bb.d5e8"]]},{"id":"2ab8403d.ef38b","type":"ui_group","name":"Input City/Country","tab":"be63eb3b.3fca78","order":1,"disp":true,"width":"6","collapse":false},{"id":"bc472b89.d91388","type":"ui_group","name":"Pressure","tab":"be63eb3b.3fca78","order":3,"disp":true,"width":"6","collapse":false},{"id":"fbd58ca9.03bf1","type":"ui_group","name":"Description","tab":"be63eb3b.3fca78","order":5,"disp":true,"width":"6","collapse":false},{"id":"ff68c011.1d32a","type":"ui_group","name":"Input method","tab":"bba5621d.f317","order":2,"disp":true,"width":"6","collapse":false},{"id":"8bb7d848.f0f2d8","type":"ui_group","name":"Humidity","tab":"be63eb3b.3fca78","order":4,"disp":true,"width":"6","collapse":false},{"id":"2a8e63f1.01c50c","type":"ui_group","name":"Temperature","tab":"be63eb3b.3fca78","order":6,"disp":true,"width":"6","collapse":false},{"id":"8e704b94.3d4608","type":"ui_group","name":"Wind","tab":"be63eb3b.3fca78","order":7,"disp":true,"width":"6","collapse":false},{"id":"e9ed2f67.74969","type":"ui_group","name":"Warning Limits","tab":"be63eb3b.3fca78","order":8,"disp":true,"width":"6","collapse":false},{"id":"71492be7.e7af74","type":"mqtt-broker","name":"","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2faa6f2a.b56ca","type":"ui_group","name":"Charts","tab":"a8a8b728.3914a8","order":1,"disp":true,"width":"20","collapse":false},{"id":"805fbf66.b834b","type":"ui_group","name":"Charts","tab":"bba5621d.f317","order":1,"disp":true,"width":"6","collapse":false},{"id":"5b24e49f.4a41ec","type":"ui_group","name":"Input Coordinates","tab":"be63eb3b.3fca78","order":2,"disp":true,"width":"6","collapse":false},{"id":"be63eb3b.3fca78","type":"ui_tab","name":"Weather","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"bba5621d.f317","type":"ui_tab","name":"Settings","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"a8a8b728.3914a8","type":"ui_tab","name":"Charts","icon":"dashboard","order":2,"disabled":false,"hidden":false}]